html {
  background: url('https://www.dropbox.com/s/wgg4li7r5j6qzjv/background.jpg?raw=1') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fa-heart {
  color: #dd3970;
}

.navbar {
  background-color: rgba(255,255,255,0.9) !important;
}

.navbar .navbar-brand {
  color: #dd3970 !important;
}

#tagline {
  color: #fff;
  right: 10%;
  bottom: 10%;
  position: fixed;
  margin-right: 20px;
  padding: 20px;
  border: 2px solid #fff;
  text-shadow: 2px 2px #dd3970;
}
